$full           : 100%;
$half           : 50%;

$margin-auto    : 0 auto;

$first-color    : #5d5d5d;
$second-color   : #585858;
$font-size      : toRem( 16px );
$Heebo          : 'Heebo', sans-serif;
$Lobster        : 'Lobster', cursive;
$font-light     : 200;
$font-medium    : 500;
